.chat-message-user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.chat-message-bot {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}


